<!DOCTYPE html>
<html>
<head>
    <title>Clothing Store Orders</title>
</head>
<body>

<h1>Clothing Store Orders</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Total Amount</th>
        </tr>
    </thead>

    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.order_status }}</td>
            <td>Rs. {{ order.total_amount }}</td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">No orders available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<a href="{% url 'product_list' %}">
    Back to Products
</a>

</body>
</html>