<!DOCTYPE html>
<html>
<head>
    <title>Order Item Details</title>
</head>
<body>

<h1>Order Item Details</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>Order Item ID</th>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
    </tr>

    {% for item in order_items %}
    <tr>
        <td>{{ item.order_item_id }}</td>
        <td>{{ item.order.order_id }}</td>
        <td>
            {{ item.order.customer.first_name }}
            {{ item.order.customer.last_name }}
        </td>
        <td>{{ item.product.product_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>Rs. {{ item.unit_price }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No order items found.</td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="{% url 'order_item_list' %}">
    Back to Order Items
</a>

</body>
</html>